# Configurações do Servidor
PORT=3000

# String de Conexão com o PostgreSQL
# Formato: postgres://<usuario>:<senha>@<host>:<porta>/<banco_de_dados>
DATABASE_URL=postgres://postgres:postgres@localhost:5432/movixfrota
